<div class="card" id="primary-card">
  <div class="banner" alt="Fondo Banner">
    <img
      id="foto-perfil"
      src="/assets/img/jp-circle.png"
      alt="Foto de Perfil"
    />
  </div>
  <div class="card-body">
    <div class="logos-edu-banner">
      <img
        id="logo-uba-banner"
        src="/assets/img/logo-uba-nuevo-blanco.png"
        alt="Logo UBA"
      />
      <p id="texto-uba" style="text-align: center">
        Universidad de<br />Buenos Aires
      </p>
      <br />
      <img
        id="logo-argprog-banner"
        src="/assets/img/argprog-logo-color.png"
        alt="Logo ArgProg"
      /><br />
      <img
        id="logo-freecodecamp-banner"
        src="/assets/img/freecodecamp-logo.png"
        alt="Logo FreecodeCamp"
      />
    </div>

    <h3 class="card-title">
      Juan Pablo Rodríguez Plana
      <div class="lapiz-edicion" id="btn-edicion-perfil">
        <a href="#"
          ><img
            src="/assets/img/edit-pencil-black.png"
            alt="Editar"
            height="20px"
            width="auto"
        /></a>
      </div>
    </h3>

    <p class="card-text">
      Estudiante de Desarrollo Web Full Stack<br />
      Pehuajó, Buenos Aires - Argentina&nbsp;&nbsp;
      <a href="#" class="link-contacto">Información de contacto</a>
    </p>
    <a href="#" class="btn btn-primary">Tengo interés en</a
    >&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-light" role="button">
      Añadir sección</a
    >&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-light" role="button">
      Más</a
    >
  </div>
</div>
