.logos-edu-banner {
  float: right;
  
}

#logo-uba-banner {
  max-height: 50px;
  width: auto;
}

#texto-uba {
  float: right;
}

#logo-argprog-banner {
  max-height: 40px;
  width: auto;
}

#logo-freecodecamp-banner {
  max-height: 20px;
  width: auto;
  margin-top: 15px;
}
