<div class="pri-card-right">
      <img
        id="logo-uba-banner"
        src="/assets/img/logo-uba-nuevo-blanco.png"
        alt="Logo UBA"
      />
      <p id="texto-uba" style="text-align: center">
        Universidad de<br />Buenos Aires
      </p>
      <br />
      <img
        id="logo-argprog-banner"
        src="/assets/img/argprog-logo-color.png"
        alt="Logo ArgProg"
      /><br />
      <img
        id="logo-freecodecamp-banner"
        src="/assets/img/freecodecamp-logo.png"
        alt="Logo FreecodeCamp"
      />
    </div>
