<div class="card" id="skills-card">
  <div class="card-header">
    Hard Skills & Soft Skills
    <div class="icono-suma">
      <a href="#" id="btn-suma" title="Botón de Agregar"
        ><img
          src="/assets/img/plus icon black.png"
          alt="Agregar"
          height="12px"
          width="auto"
      /></a>
    </div>
  </div>
  <div class="skills-card-body">
    <div
      class="row row-cols-1 row-cols-md-5 g-4 container-fluid"
      id="skills-group"
    >
      <div class="col">
        <div class="card skill-card">
          <img
            src="/assets/img/skill-resolucion-de-problemas.png"
            class="card-img-top"
            alt="Skill 1"
          />
          <div class="skill-card-body">
            <h6 class="skill-card-title">Resolución de problemas</h6>
            <div class="pack-edicion-skills">
              <div class="trash-bin">
                <a href="#" id="btn-eliminar"
                  ><img
                    src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
                    alt="Eliminar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
              <div class="lapiz-edicion">
                <a href="#" id="btn-edicion"
                  ><img
                    src="/assets/img/edit-pencil-black.png"
                    alt="Editar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card skill-card">
          <img
            src="/assets/img/skill-relaciones-interpersonales.png"
            class="card-img-top"
            alt="Skill 2"
          />
          <div class="skill-card-body">
            <h6 class="skill-card-title">Relaciones interpersonales</h6>
            <div class="pack-edicion-skills">
              <div class="trash-bin">
                <a href="#" id="btn-eliminar"
                  ><img
                    src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
                    alt="Eliminar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
              <div class="lapiz-edicion">
                <a href="#" id="btn-edicion"
                  ><img
                    src="/assets/img/edit-pencil-black.png"
                    alt="Editar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card skill-card">
          <img
            src="/assets/img/picture-icon.png"
            class="card-img-top"
            alt="Skill 3"
          />
          <div class="skill-card-body">
            <h6 class="skill-card-title">Front end</h6>
            <div class="pack-edicion-skills">
              <div class="trash-bin">
                <a href="#" id="btn-eliminar"
                  ><img
                    src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
                    alt="Eliminar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
              <div class="lapiz-edicion">
                <a href="#" id="btn-edicion"
                  ><img
                    src="/assets/img/edit-pencil-black.png"
                    alt="Editar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card skill-card">
          <img
            src="/assets/img/picture-icon.png"
            class="card-img-top"
            alt="Skill 4"
          />
          <div class="skill-card-body">
            <h6 class="skill-card-title">Inglés</h6>
            <div class="pack-edicion-skills">
              <div class="trash-bin">
                <a href="#" id="btn-eliminar"
                  ><img
                    src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
                    alt="Eliminar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
              <div class="lapiz-edicion">
                <a href="#" id="btn-edicion"
                  ><img
                    src="/assets/img/edit-pencil-black.png"
                    alt="Editar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
