#skills-group {
  margin-left: 10%;
}

.skill-card {
  align-items: center;
  padding-top: 10%;
}

.skill-card-body {
  padding-top: 10%;
  padding-bottom: 30%;
}

.pack-edicion-skills {
  display: flex;
  left: 40%;
  position: absolute;
}

.card-img-top {
  height: 170px;
  width: auto;
}
