<div class="card" id="experiencia-card">
  <div class="card-header">
    Experiencia laboral
    <div class="icono-suma">
      <button
        type="button"
        class="btn btn-light"
        routerLink="/nuevaexp"
        *ngIf="isLogged"
      >
        <img
          src="/assets/img/plus icon black.png"
          alt="Agregar experiencia"
          height="12px"
          width="auto"
        />
      </button>
    </div>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11 tabla-experiencia">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <td>
            <h5>{{ Experiencia.nombreE }}</h5>
          </td>
          <td>{{ Experiencia.descripcionE }}</td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-light"
              routerLink="/editexp/{{ Experiencia.id }}"
            >
              <img
                src="/assets/img/edit-pencil-black.png"
                alt="Editar experiencia"
                height="20px"
                width="auto"
                style="opacity: 50%"
              />
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-light" (click)="delete(Experiencia.id)">
              <img
                src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
                alt="Eliminar experiencia"
                height="20px"
                width="auto"
                style="opacity: 50%"
              />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
