<div class="card" id="proyectos-card">
  <div class="card-header">
    Proyectos
    <div class="icono-suma">
      <a href="#" id="btn-suma" title="Botón de Agregar"
        ><img
          src="/assets/img/plus icon black.png"
          alt="Agregar"
          height="12px"
          width="auto"
      /></a>
    </div>
  </div>
  <div class="card-body">
    <!--Proyecto Alfa-->
    <div class="project" id="project-1">
      <h5 class="project-title">Proyecto Alfa</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
        accusantium nisi debitis voluptas praesentium, explicabo veniam corrupti
        accusamus cumque maxime deleniti neque in, atque blanditiis nobis,
        laborum aperiam? Beatae, pariatur!
      </p>
      <div class="project-img img-fluid">
        <img src="assets/img/mi-portfolio-printscreen.png" alt="Proyecto Alfa">
      </div>
    </div>
    <!--Proyecto Beta-->
    <div class="project" id="project-2">
      <h5 class="project-title">Proyecto Beta</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
        accusantium nisi debitis voluptas praesentium, explicabo veniam corrupti
        accusamus cumque maxime deleniti neque in, atque blanditiis nobis,
        laborum aperiam? Beatae, pariatur!
      </p>
      <div class="project-img">
        <img src="assets/img/google-printscreen.png" alt="Proyecto Alfa">
      </div>
    </div>
    <!--Proyecto Delta-->
    <div class="project" id="project-3">
      <h5  class="project-title">Proyecto Delta</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
        accusantium nisi debitis voluptas praesentium, explicabo veniam corrupti
        accusamus cumque maxime deleniti neque in, atque blanditiis nobis,
        laborum aperiam? Beatae, pariatur!
      </p>
      <div class="project-img img-fluid">
        <img src="assets/img/github-printscreen.png" alt="Proyecto Alfa">
      </div>
    </div>
  </div>
</div>
