<div class="card" id="proyectos-card">
  <div class="card-header">
    Proyectos
    <div class="icono-suma">
      <a href="#" id="btn-suma" title="Botón de Agregar"
        ><img
          src="/assets/img/plus icon black.png"
          alt="Agregar"
          height="12px"
          width="auto"
      /></a>
    </div>
  </div>
  <div class="card-body">
    <!--Proyecto Alfa-->
    <div class="project" id="project-1">
      <h5 class="project-title">Mi Portfolio</h5>
      <p class="card-text">
        Aplicación web desarrollada en Angular para ser presentada como proyecto final en el curso de Desarrollo Web Full Stack #ArgentinaPrograma del Ministerio de Desarrollo Productivo y el INTI.
      </p>
      <div class="project-img img-fluid">
        <img src="assets/img/mi-portfolio-printscreen.png" alt="Proyecto Alfa">
      </div>
    </div>

  </div>
</div>
