<div class="card" id="acercade-card">
  <div class="card-header">
    Acerca de mí
    <div class="lapiz-edicion">
      <a href="#" id="btn-edicion"
        ><img
          src="/assets/img/edit-pencil-black.png"
          alt="Editar"
          height="20px"
          width="auto"
      /></a>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nobis
      eaque quod repellat ipsa inventore sunt ipsum, accusantium atque possimus
      perferendis ad voluptas eum corporis? Quidem autem dolorem rem excepturi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias vel
      similique omnis amet odio error, a cupiditate maiores unde quo inventore
      velit accusamus iure pariatur consequuntur veniam illum distinctio.
    </p>
  </div>
</div>
