<div class="card" id="experiencia-card">
  <div class="card-header">
    Experiencia
    <div class="icono-suma">
      <a href="#" id="btn-suma"
        ><img
          src="/assets/img/plus icon black.png"
          alt="Agregar"
          height="12px"
          width="auto"
      /></a>
    </div>
  </div>
  <div class="card-body">
    <div class="exp-laboral">
      <div class="img-laboral">
        <img
          class="picture-laboral"
          src="/assets/img/picture-icon.png"
          alt="Nombre alternativo"
        />
      </div>
      <div class="laboral-card-body">
        <p class="card-text">
          Soy un estudiante autodidacta (o no tanto) de Desarrollo Web Full
          Stack. En este momento estoy realizando la Segunda Etapa #YoProgramo
          del curso Argentina Programa brindado por el Instituto Nacional de
          Tecnología Industrial (INTI) y el Ministerio de Desarrollo Productivo
          de la Nación. A la vez, voy haciendo otros cursos sobre la materia
          ofrecidos en webs como Freecodecamp, Udemy,
        </p>
      </div>
      <div class="pack-edicion">
        <div class="trash-bin">
          <a href="#" id="btn-eliminar"
            ><img
              src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
              alt="Eliminar"
              height="20px"
              width="auto"
          /></a>
        </div>
        <div class="lapiz-edicion">
          <a href="#" id="btn-edicion"
            ><img
              src="/assets/img/edit-pencil-black.png"
              alt="Editar"
              height="20px"
              width="auto"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="exp-laboral">
      <div class="img-laboral">
        <img
          class="picture-laboral"
          src="/assets/img/picture-icon.png"
          alt="Nombre alternativo"
        />
      </div>
      <div class="laboral-card-body">
        <p class="card-text">
          Soy un estudiante autodidacta (o no tanto) de Desarrollo Web Full
          Stack. En este momento estoy realizando la Segunda Etapa #YoProgramo
          del curso Argentina Programa brindado por el Instituto Nacional de
          Tecnología Industrial (INTI) y el Ministerio de Desarrollo Productivo
          de la Nación. A la vez, voy haciendo otros cursos sobre la materia
          ofrecidos en webs como Freecodecamp, Udemy,
        </p>
      </div>
      <div class="pack-edicion">
        <div class="trash-bin">
          <a href="#" id="btn-eliminar"
            ><img
              src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
              alt="Eliminar"
              height="20px"
              width="auto"
          /></a>
        </div>
        <div class="lapiz-edicion">
          <a href="#" id="btn-edicion"
            ><img
              src="/assets/img/edit-pencil-black.png"
              alt="Editar"
              height="20px"
              width="auto"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="exp-laboral">
      <div class="img-laboral">
        <img
          class="picture-laboral"
          src="/assets/img/picture-icon.png"
          alt="Nombre alternativo"
        />
      </div>
      <div class="laboral-card-body">
        <p class="card-text">
          Soy un estudiante autodidacta (o no tanto) de Desarrollo Web Full
          Stack. En este momento estoy realizando la Segunda Etapa #YoProgramo
          del curso Argentina Programa brindado por el Instituto Nacional de
          Tecnología Industrial (INTI) y el Ministerio de Desarrollo Productivo
          de la Nación. A la vez, voy haciendo otros cursos sobre la materia
          ofrecidos en webs como Freecodecamp, Udemy,
        </p>
      </div>
      <div class="pack-edicion">
        <div class="trash-bin">
          <a href="#" id="btn-eliminar"
            ><img
              src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
              alt="Eliminar"
              height="20px"
              width="auto"
          /></a>
        </div>
        <div class="lapiz-edicion">
          <a href="#" id="btn-edicion"
            ><img
              src="/assets/img/edit-pencil-black.png"
              alt="Editar"
              height="20px"
              width="auto"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
