<div class="card" id="acercade-card">
  <div class="card-header">
    Acerca de mí
    <div class="lapiz-edicion">
      <a href="#" id="btn-edicion"
        ><img
          src="/assets/img/edit-pencil-black.png"
          alt="Editar"
          height="20px"
          width="auto"
      /></a>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      Soy un estudiante autodidacta (o no tanto) de Desarrollo Web Full Stack.
      En este momento estoy realizando la Segunda Etapa #YoProgramo del curso
      Argentina Programa brindado por el Instituto Nacional de Tecnología
      Industrial (INTI) y el Ministerio de Desarrollo Productivo de la Nación. A
      la vez, voy haciendo otros cursos sobre la materia ofrecidos en webs como
      Freecodecamp, Udemy, Desarrolloweb y Acamica, más otros tantos cursos y
      tutoriales ofrecidos en Youtube. Este, Mi Portfolio, es mi primer
      proyecto.
    </p>
  </div>
</div>
