<div class="card" id="skills-card">
  <div class="card-header">
    Hard Skills & Soft Skills
    <div class="icono-suma">
      <a href="#" id="btn-suma" title="Botón de Agregar"
        ><img
          src="/assets/img/plus icon black.png"
          alt="Agregar"
          height="12px"
          width="auto"
      /></a>
    </div>
  </div>
  <div class="skills-card-body">
    <div
      class="row row-cols-1 row-cols-md-5 g-4 container-fluid"
      id="skills-group"
    >
      <!--SKILL 1-->
      <div class="col">
        <div class="card skill-card">
          <circle-progress
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
          ></circle-progress>
          <div class="skill-card-body">
            <h6 class="skill-card-title">Resolución de problemas</h6>
            <div class="pack-edicion-skills img-fluid">
              <div class="trash-bin">
                <a href="#" id="btn-eliminar"
                  ><img
                    src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
                    alt="Eliminar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
              <div class="lapiz-edicion">
                <a href="#" id="btn-edicion"
                  ><img
                    src="/assets/img/edit-pencil-black.png"
                    alt="Editar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--SKILL 2-->
      <div class="col">
        <div class="card skill-card">
          <circle-progress
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
          ></circle-progress>
          <div class="skill-card-body">
            <h6 class="skill-card-title">Relaciones interpersonales</h6>
            <div class="pack-edicion-skills">
              <div class="trash-bin">
                <a href="#" id="btn-eliminar"
                  ><img
                    src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
                    alt="Eliminar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
              <div class="lapiz-edicion">
                <a href="#" id="btn-edicion"
                  ><img
                    src="/assets/img/edit-pencil-black.png"
                    alt="Editar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--SKILL 3-->
      <div class="col">
        <div class="card skill-card">
          <circle-progress
            [percent]="60"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
          ></circle-progress>
          <div class="skill-card-body">
            <h6 class="skill-card-title">Front end</h6>
            <div class="pack-edicion-skills">
              <div class="trash-bin">
                <a href="#" id="btn-eliminar"
                  ><img
                    src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
                    alt="Eliminar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
              <div class="lapiz-edicion">
                <a href="#" id="btn-edicion"
                  ><img
                    src="/assets/img/edit-pencil-black.png"
                    alt="Editar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--SKILL 4-->
      <div class="col">
        <div class="card skill-card">
          <circle-progress
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [outerStrokeGradient]="true"
            [outerStrokeGradientStopColor]="'#C7E596'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [responsive]="true"
          ></circle-progress>
          <div class="skill-card-body">
            <h6 class="skill-card-title">Inglés</h6>
            <div class="pack-edicion-skills">
              <div class="trash-bin">
                <a href="#" id="btn-eliminar"
                  ><img
                    src="/assets/img/garbage-bin-garbage-can-garbage-container-trash-bin-trash-can-icon-431304.jpg"
                    alt="Eliminar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
              <div class="lapiz-edicion">
                <a href="#" id="btn-edicion"
                  ><img
                    src="/assets/img/edit-pencil-black.png"
                    alt="Editar"
                    height="20px"
                    width="auto"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
