<div>
  <h3 class="card-title">
    {{ persona.nombre }} {{ persona.apellido }}
    <div class="lapiz-edicion" id="btn-edicion-perfil">
      <a href="#"
        ><img
          src="/assets/img/edit-pencil-black.png"
          alt="Editar"
          height="20px"
          width="auto"
      /></a>
    </div>
  </h3>

  <p class="card-text">
    Full Stack Web Development Student<br />
    Pehuajó, Buenos Aires - Argentina&nbsp;&nbsp;
    <a href="#" class="link-contacto">Información de contacto</a>
  </p>
</div>

<!--La foto de perfil está en el banner.component-->
